footer {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    width: inherit;
    max-width: 1800px;
    height: 30px;
    padding: 10px 2%;
    background-color: white;
    box-shadow: -0.5px -0.5px 1px rgba(119, 119, 119, 0.256);
    overflow: hidden;
    font-family: monospace;
}
.copy-right {
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}